<div class="user_profile">
  <h1>Welcome <%= @user.name %>!</h1>
  <img class="profile_pic" src="http://settingforone.com/wp-content/uploads/2015/02/Dollarphotoclub_66082123.jpg">
  <div class="user_info">
    <p>User: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Phone: <%= @user.phone %></p>
    <p><%= link_to "Edit", "/users/#{@user.id}/edit" %></p>
  </div>


  <div class="active_reservations">
    <h2>Upcoming Reservations</h2>
      <div class="reservations_table">
      </div>
  </div>


  <h3>Reviews</h3>

  <% if current_user %>
  <% end %>
</div>
