
<h1 class="user_welcome">Welcome <%= @user.name %>!</h1>

<div class="user_profile">
  <p class="edit_link"><%= link_to "EDIT", "/users/#{@user.id}/edit" %></p>
  <div class="user_info">
    <p>User: <div class="display"><%= @user.name %></div></p>
    <p>Email: <div class="display"><%= @user.email %></div></p>
    <p>Phone: <div class="display"><%= @user.phone %></div></p>
  </div>
</div>

  <div class="active_reservations">
    <h2>Upcoming Reservations</h2>
    <div class="reservations_table">
      <% @user.reservations.each do |reservation| %>
      <div class="display"><%= reservation.restaurant.name %></div>
        <% if reservation.user != nil %>
        <p><%= reservation.size %> guests ON <%= reservation.when %></p>
        <% else %>
         <div class="display">No reservations yet!<br/>Why don't you make one?</div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="user_reviews">
    <h2><%= @user.name %>'s Reviews</h2>
    <div class="user_reviews_display">
      <% @user.reviews.each do |review| %>
      <div class="display"><%= review.restaurant.name %></div>
      <div class="review_content"><%= review.content %></div>
        <% if review.user != nil %>
        <p>Reviewed on <%= review.created_at %></p>
        <% end %>
      </p>
      <% end %>
    </div>
  </div>
