<!DOCTYPE html>
<html>
  <body>
    <div id="transparent_box"></div>
    <div class="user_profile">
      <h1>Welcome <%= @user.name %>!</h1>
      <img class="profile_pic" src="http://settingforone.com/wp-content/uploads/2015/02/Dollarphotoclub_66082123.jpg">
      <div class="user_info">
        <p>User: <%= @user.name %></p>
        <p>Email: <%= @user.email %></p>
        <p>Phone: <%= @user.phone %></p>
        <p><%= link_to "Edit", "/users/#{@user.id}/edit" %></p>
      </div>

      <div class="active_reservations">
        <h2>Upcoming Reservations</h2>
        <div class="reservations_table">
          <% @user.reservations.each do |reservation| %>
          <p><%= reservation %></p>
            <% if reservation.user != nil %>
            <em> for: <%= reservation.when %></em><br><br>
            Size: <%= reservation.size %>
            <% end %>
          <% end %>
          <p>-----</p>


        </div>
      </div>

      <div class="user_reviews">
        <h3><%= @user.name %>'s Reviews</h3>
        <div class="user_reviews_display">
          <% @user.reviews.each do |review| %>
          <p><%= review.content %><br>
            <% if review.user != nil %>
            <em><br> by <%= review.user.email %></em><br><br>
            Added on: <%= review.created_at %>
            <% end %>
          </p>
          <% end %>
          <p>-----</p>
        </div>

  </body>
</html>
