
<div class="restaurants">
    <h1>Restaurants</h1>
    <% @restaurants.each do |restaurant| %>
      <p><%= link_to "#{restaurant.name}", "/restaurants/#{restaurant.id}" %></p>
      <p><%= restaurant.food_type %></p
      <p><%= restaurant.location %></p>
      <p><%= restaurant.phone %></p>
      <p><%= restaurant.description %></p>
    <% end %>
  </div>

  </body>
</html>
