<h1 class="restaurant_header">Restaurants</h1>

<div class="restaurants_list">
  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to "#{restaurant.name}", "/restaurants/#{restaurant.id}" %></h3>
    <ul>
      <li><%= restaurant.food_type %></li>
      <li><%= restaurant.location %></li>
      <li><%= restaurant.phone %></li>
      <li><%= restaurant.description %></li>
    </ul>
  <% end %>
</div>
