<!DOCTYPE html>
<html>
<head>
  <title>Seat Yourself</title>
  <%= csrf_meta_tags %>

<<<<<<< HEAD
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">

  </head>

<<<<<<< HEAD
  <header class="top-header">
    <body>
      <h1 class = "logo"><a href="/home">Seat<br>Your<br>self</a></h1>

      <nav class="nav primary-nav">
        <ul>
          <li> Email <a href="info@seatyourself.compiled?subject=Reaching%20Out&body=How%20are%20you"></a></li>
          <li> Call for Reservation </li>
        <div class="btn-property">
          <li><%= link_to "Sign in", restaurants_path %></li>
          <li><%= link_to "Log in", new_sessions_path %></li>
        </div>
          <% end %>
      </ul>
    </nav>
  </header>

  <section class="search_bar container">
    <h2> Search by Food Type or Name </h2>
    <p> Easy search feature allows you to narrow down your choice</p>

  </section>

    <%= yield %>
=======
  <body>
    <% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p id="alert"><%= flash[:alert] %></p>
  <% end %>

<%= yield %>
<p class="userinfo">
    <% if current_user %>
      Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
    <% else %>
      <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
    <% end %>
>>>>>>> master
  </body>
=======
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    <div class="log">
      <a href='' class="login">Login</a> | <a href='' class="signup">Sign Up</a>
    </div>
    <h1>Seat Yourself</h1>
      <nav>
        <a href='/'>Home</a>
        <a href= '/restaurants'>Restaurants</a>
      </nav>
  </header>
  <%= yield %>
</body>
>>>>>>> master
</html>
